In [38]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [39]:
# Construct the file path for Country
countryData = 'C:\\Users\\pittm\\Programming\\Kaggle\\FWP-CountryData.xlsx'
# Construct the file path for Players
countryData = 'C:\\Users\\pittm\\Programming\\Kaggle\\FWP-PlayerData.xlsx'

# Read the file into a variable fifa_data
fifa_data = pd.read_excel(countryData)

In [40]:
# Print the first 5 rows of the data
fifa_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Playing Time,Unnamed: 5,Unnamed: 6,Unnamed: 7,Performance,Unnamed: 9,...,Unnamed: 19,Expected,Unnamed: 21,Unnamed: 22,Unnamed: 23,Per 90 Minutes.1,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,G+A-PK,xG,npxG,xAG,npxG+xAG,xG,xAG,xG+xAG,npxG,npxG+xAG
1,ar Argentina,24,27.5,57.4,7,77,690,7.7,15,8,...,2.48,15.1,11.3,7.7,19,1.96,1,2.97,1.47,2.48
2,au Australia,20,27.8,37.8,4,44,360,4,3,3,...,1.5,2.3,2.3,1.9,4.2,0.58,0.48,1.06,0.58,1.06
3,be Belgium,20,29.7,57,3,33,270,3,1,1,...,0.67,4.7,4.7,3.8,8.5,1.57,1.27,2.85,1.57,2.85
4,br Brazil,26,27.6,56.2,5,55,480,5.3,8,6,...,2.44,12,11.2,8.2,19.4,2.24,1.54,3.79,2.09,3.64